*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f5f8ff;
}
.web-head{
  background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
}
.web-nav{
  max-width: 1440px;
  margin:0 auto;
  padding:50px;
}
.web-nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.web-nav ul li{
  list-style: none;
  text-decoration: none;
}
.logo{
  font-family: "inter Black", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 34px;
color: #4E47FF;

}
.web-nav ul li a{
  text-decoration: none;
}
button{
  background-color: #4E47FF;
  color: #FFFFFF;
  padding: 12px 36px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  color: #04040c;
  background-color: azure;
  border-radius: 10px;
}
.nav-h{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-size: 65px;

}

.nav-div{
  text-align: center;
  max-width: 905px;
  width: 100%;
  margin-top: 158px ;
  padding-bottom: 152px;
  margin:0 auto;
}
.nav-div button{
  margin-top: 37px;
}
.action-div{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  max-width: 1440px auto;
  gap:220px;
}
.action-div img{
  border-radius: 48px;
  width: 403px;
  height: 328px;
}
.title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-size: 42px;
  width: 517px;
  height: 49px;
  color: #252432;
}
.sub-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 24px;
  width: 517px;
  height: 60px;
  color:rgba(44, 36, 50, 0.5);
  margin-top: 23px;
  margin-bottom: 23px;
}
.action{
  padding:132px 159px 116px 141px;

}

.Users{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin:0 auto;
  width: 100%;
  
 
  
}
.users-section{
  padding: 50px 142px;
  width: 100%;
   background-color: rgba(147, 71, 255, 0.1);
}
.users-h{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 38px;
  color: #252432;
  margin-bottom: 40px;
  text-align: center;
}
.user-parents{
 display: flex;
 justify-content: space-around;
  
}
.user-h{
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  font-style: normal;
font-size: 80px;
color: #4E47FF;
}
.user-p{
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
font-size: 20px;
color: rgba(0, 0, 0, 0.5);
text-align: center;
}
.users-feedback{
   align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin:0 auto;
  width: 100%;
 padding-top: 116px;
 padding-bottom: 158px;
}
.feedback-h{
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 42px;
  color: #252432;
  margin-bottom: 50px;
}
.head-feedback{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
}
.review{
  width: 366.66px;
  padding: 24px;
  
  border-radius: 14px;
  background-color: #FFFFFF;
  padding-right: 20px;
}
.review-h{
  width: 221px;
  margin-top: 24px;
  margin-bottom: 8px;
  color: rgba(30, 30, 30, 1);
}
.review-p{
  width:100%;
  margin-bottom: 24px;
  color: rgba(30, 30, 30, 1);
}
.review-footer{
  display: flex;
 
}
.footer-img img{
border-radius: 9999px;
width: 40px;
height: 40px;
}
.footer-img{
  padding-right: 12px;
}
.name-h{
  color: rgba(117, 117, 117, 1);
}
.name-p{
color: rgba(179, 179, 179, 1);
}
.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.optional-h{
 font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
  padding:71px 312px 20px 312px;
}
.optional-p{
  color: rgba(0, 0, 0, 0.5);
  padding-right: 327px;
  padding-left: 327px;
  padding-bottom: 20px;
}
.optional-all{
  max-width: 1140;
  margin: auto;
}
.img-box{
  overflow: hidden;
}
.img-box img{
  border-radius: 48px;
  width: 840px;
  height: 364px;
}
.optional-body{
  text-align: center;

}
.optional-all img{
  padding: 20px 150px 71px 150px;
   border-radius: 48px;
}
.optional-all{
  background-color: #FFFFFF;
border-radius: 48px;
text-align: center;
}
/* my form */




.focused-all{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 93px 150px 14px 150px;
  
}
.form-child label{
 display: block;
 padding-top: 19px;
 padding-bottom: 10px;
}
.form-child button{
 margin-bottom: 19px; 
 padding: 19px 101px;
 margin-top: 19px;
}
.form-child input{
  padding: 20px 32px;
  border-radius: 10px;
  border: none;
  background-color: #FFFFFF;
  gap: 10px;

}
.form-child textarea{
  padding-top: 10px;
  padding-bottom: 19px;
  border-radius: 10px;
  border: none;
  background-color: #FFFFFF;
  gap: 10px;
  padding: 20px 32px;
}
.focused-h{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 97px;
  color: #000000;
}
.focused-title{
  width: 100%;
  padding: 129px 115px 129px 0;
}
.my-form{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.form-child input,
.form-child textarea,
.form-child button{
  width: 100%;
  box-sizing: border-box;
}





footer {
  text-align: center;
  background-color: #FFFFFF;
}
.footer{
  padding: 104px 455px;
}

.footer-p {
  color: rgba(139, 135, 161, 1);
}

.footer-h {
  font-family: "inter Black", sans-serif;
  font-weight: bold;
  font-size: 100px;
  color: #4E47FF;
  margin-bottom: 10px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.footer-nav li {
  display: inline-block;
  margin: 0 15px;
}
.footer-nav a{
  text-decoration: none;
}
.footer-nav a:hover{
  text-decoration:underline ;
}